.header-mobile {
    height: 8vh;
    border-bottom: 1px solid var(--light-gray);

}

.header-mobile .logo h1 {
    font-size: 3rem;
}

.header-mobile__navigation {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-white);
    z-index: 1000;
    height: 0;
    max-height: 0;
    transition: all 0.2s ease-out;
    display: none;

}

.mobile-menu-opened .header-mobile__navigation {
    height: calc(100vh - 100%) !important;
    max-height: calc(100vh - 100%);
    transition: all 0.2s ease-out;
    display: flex !important;
}

.mobile-menu-opened {
    overflow: hidden;
}



.mobile-navigation-menu {
    transform: translateX(0%);
    min-height: 264px;
    transition: all 0.3s ease-out;
}

/* if sub menu active */
.mobile-navigation-menu.active {
    transform: translateX(-100%);
    min-height: 623px;
}

.header-mobile__navigation .search-input i {
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.header-mobile__navigation .mobile-navigation-menu .navigation-item {
    margin: 1rem 0 !important;

}

.header-mobile__navigation .mobile-navigation-menu .navigation-item .navigation-link a,
i {
    font-size: 2.2rem;
}

.mobile-nav__footer {
    border-top: 1px solid var(--light-gray);
    width: 100%;
    min-height: 20rem;
}

.mobile-nav__footer {
    margin-top: auto !important;
}

.mobile-nav__footer span,
p,
label,
select {
    font-size: 1.4rem;
}




.social-links li {
    margin-right: 5rem;

}

.social-links .footer-social__link svg {
    height: 20px !important;
    width: 20px !important;

}

.mobile-sub-menu__wrapper {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100% !important;
    background-color: var(--bg-white);
    transition: all ease-out 0.3s;
    z-index: 1500;
}

.mobile-sub-menu__wrapper .menu-title {
    font-size: 1.8rem;
}


.header-container {
    width: 100% !important;
    padding: 0 1rem;
}