.nav-link {
    font-size: 2rem;
    color: var(--light-gray);
    font-weight: 500;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--black);
}
.nav-link.active {
    color: var(--black);
}

.nav-link-underscore {
    position: relative;
    margin: 1rem 1rem;
    padding-bottom: 0.5rem;
}



.nav-link-underscore::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1.5px;
    width: 0%;
    background-color: var(--black);
    opacity: 1;
    transition: all 0.3s ease-out;

}


.nav-link-underscore:hover::after {
    width: 100%;
}

.nav-link-underscore.active::after {
    width: 100%;

}



.row {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

/* responsive*/

@media (max-width: 992px) {
    .products-area .row {
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .nav-link {
        font-size: 1.4rem;
        color: var(--light-gray);
        font-weight: 500;
        transition: all 0.3s ease-out;
    }
}
@media (max-width: 767px) {
    .products-area .row {
        grid-template-columns: 1fr 1fr ;
    }
    .nav-link {
        font-size: 1.2rem;
        color: var(--light-gray);
        font-weight: 500;
        transition: all 0.3s ease-out;
    }
}
