.progress-bar {
    position: relative;
    width: 300px;
    height: 10px;
    border-radius: 20px;
    border: 1px solid var(--light-gray);
    background-color: rgba(0, 0, 0, 0.09);
}

.progress-fill {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
}
